<a name="acercade" id="acercade"></a> 
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoperfil.jpg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Soy {{persona.nombre}} {{persona.apellido}}</p>
        <p> Full Stack Web Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1 id="sobremi">Sobre mí</h1>
            <p id="sobremi">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus iste est vitae ea excepturi. Consectetur, pariatur! Ad nam odit numquam. Beatae, incidunt eos corporis facere a magni modi nostrum alias.</p>
        </span>
    </div>
</div>