<div class="row">
    <div class="container"> 
        <div class="logo">
            <a href=""><img src="../../../assets/APLogo.png" id="logoAP"></a>
        </div>
        <div class="contact">
            <a href="https://www.linkedin.com/in/belen-hernandez-2ba334233/"><img src="../../../assets/linkedin.png" id="linkedin"></a>
            <a href="https://github.com/belenher"><img src="../../../assets/github.png" id="github"></a>
            <button type="button" class="btn btn-outline-light" (click)="login()">login</button>
        </div>
    </div>
 <div>

